<div class="row" *ngIf="dataSource; else noData">
<div class="video-container col-md-8" *ngIf= "sources !== undefined">
<vg-player (onPlayerReady)="onPlayerReady($event)" class= "video">
    <div class="navbar" ngClass.lt-md="md" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start stretch" fxLayoutGap="35px">
        <div *ngFor="let annotation of cuePointData">
            <div class="nav-item" class="info-layer" *ngIf="annotation.title">
                <h3>{{annotation.title}}</h3>
                <h4>{{annotation.description}}</h4>
                <p> <mat-icon (click)= "voteUp(annotation)" style="padding-right: 70px; color: green">thumb_up</mat-icon>
                <mat-icon (click)= "voteDown(annotation)" style="color: red">thumb_down</mat-icon></p>    
            </div>
        </div>
    </div>
    <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-cue-points [vgCuePoints]="metadataTrack.cues"></vg-scrub-bar-cue-points>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <div class="cue-point-manager-button fa fa-thumb-tack" (click)="showCuePointManager = !showCuePointManager"></div>
        <vg-mute></vg-mute>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video #media [vgMedia]="media" id="singleVideo" preload="auto">
        <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">

        <track src="assets/data/cue-points.vtt" kind="metadata" label="Cue Points" default
               #metadataTrack
               vgCuePoints
               (onEnterCuePoint)="onEnterCuePoint($event)"
               (onExitCuePoint)="onExitCuePoint($event)">
    </video>
</vg-player>
</div>

<div class="col-md-4">
        <h4 *ngIf="dataSource">Possible Annotations</h4>
        <div class="timeline-container mat-elevation-z1" *ngIf="dataSource">
                <table mat-table [dataSource]="dataSource">
                
                    <!-- Timeline Column -->
                    <ng-container matColumnDef="key_type_id">
                      <th mat-header-cell *matHeaderCellDef > Type Id</th>
                      <td mat-cell *matCellDef="let element"> {{element.key_type_id}} </td>
                    </ng-container>
                
                    <!-- Asset Column -->
                    <ng-container matColumnDef="key_name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.key_name}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="key_description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.key_description}} </td>
                      </ng-container>
                
                      <ng-container matColumnDef="key_shortcut">
                        <th mat-header-cell *matHeaderCellDef> Shortcut </th>
                        <td mat-cell *matCellDef="let element"> shift + {{element.key_shortcut}} </td>
                      </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
    </div>
</div>

<h4 *ngIf="annotationdataSource">Annotations</h4>
<div class="timeline-container mat-elevation-z1" *ngIf="annotationdataSource">
    <table mat-table [dataSource]="annotationdataSource">
    
        <!-- Timeline Column -->
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef > User</th>
          <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
        </ng-container>
    
        <!-- Asset Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
    
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
    
          <ng-container matColumnDef="vote_up">
            <th mat-header-cell *matHeaderCellDef> Likes </th>
            <td mat-cell *matCellDef="let element"> {{element.vote_up}} </td>
          </ng-container>
          <ng-container matColumnDef="vote_down">
              <th mat-header-cell *matHeaderCellDef> Dislikes </th>
              <td mat-cell *matCellDef="let element"> {{element.vote_down}} </td>
            </ng-container>

          <ng-container matColumnDef="annotation_from">
            <th mat-header-cell *matHeaderCellDef> Annotation From </th>
            <td mat-cell *matCellDef="let element"> {{element.asset_annotation_start_time |  date:'medium' }} </td>
          </ng-container>

          <ng-container matColumnDef="annotation_to">
            <th mat-header-cell *matHeaderCellDef> Annotation To </th>
            <td mat-cell *matCellDef="let element"> {{element.asset_annotation_end_time |  date:'medium' }} </td>
          </ng-container>

          <ng-container matColumnDef="edit_icon">
                <th mat-header-cell *matHeaderCellDef>Edit</th>
                <td mat-cell *matCellDef="let element">  <mat-icon (click)="openDialog(element)">edit</mat-icon> </td>
              </ng-container>
              <ng-container matColumnDef="delete_icon">
                    <th mat-header-cell *matHeaderCellDef>Delete</th>
                    <td mat-cell *matCellDef="let element">  <mat-icon (click)="removeAnnotation(element)">delete</mat-icon> </td>
              </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="annotationdisplayColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: annotationdisplayColumns;"></tr>
      </table>
    </div>
    <ng-template #noData>
      <mat-card  class="mat-typography mat-elevation-z0" fxLayout="column" fxLayoutAlign="center center"
      fxLayoutGap="16px" fxFlex>
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                <h2>No Asset selected </h2>
            </div>
        </mat-card>
    </ng-template>
