<mat-card class="mat-typography mat-elevation-z5" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
    <div class="number_boxes line">
        <div class="center">
            <div>
                <span class="data">{{ (data?.measureFrequency | number:'0.0-2') || '??' }}</span>
            </div>
            <span class="description">Samplerate</span>
        </div>
    </div>
    <div class="number_boxes line">
        <div class="center">
            <div>
                <span class="data">{{ (data?.frequencyStep | number:'0.0-2') || '??' }} </span>
                <span class="unit">Hz</span>
            </div>
            <span class="description">Auflösung</span>
        </div>
    </div>
    <div class="number_boxes line">
        <div class="center">
            <div>
                <span class="data">{{ (data?.measureSeconds | number:'0.0-2') || '??' }} </span>
                <span class="unit">s</span>
            </div>
            <span class="description">Messdauer</span>
        </div>
    </div>
    <div class="number_boxes">
        <div class="center">
            <div>
                <span class="data">{{ (data?.rpm | abs) || '??' }} </span>
                <span class="unit">rpm</span>
            </div>
            <span class="description">Drehzahl</span>
        </div>
    </div>
</mat-card>
