<span class="fileupload"> Available video paths</span>
<div class="mat-elevation-z1">
  <table mat-table [dataSource]="fileList">

    <ng-container matColumnDef="filePath">
      <th mat-header-cell *matHeaderCellDef > File Path</th>
      <td mat-cell *matCellDef="let element"> {{element.filePath}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
<br><br><br><br>
<span class ="fileupload"> Upload videos</span>
<div class="container">
  <form id="fileUploadForm">
    <fieldset>
      <div class="form-horizontal">
        <div class="form-group">
          <div class="row">
            <div class="col-md-10">
              <div class="input-group">
                <input type="hidden" id="filename" name="filename" value="" (click)="fileInput.click()">
                <input type="file" accept="video/*" id="uploadedFile" name="uploadedFile" class="form-control form-control-sm"
                  (change)="oncategoryFileChanged($event)" #fileInput>
                <div class="input-group-btn">
                  <input type="submit" value="Upload" class="rounded-0 btn btn-primary" (click)="submitCategoryData()">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<br><br>

<div *ngIf="fileStatus">
  <p>Please wait.....</p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>