<div id="navbar" fxLayout="row" fxLayoutGap="20" fxLayoutAlign="start center">
  <div id="logo" fxFlex="80"> 
    <a class="navbar-brand" href="#">Annotation Tool</a>
  </div>
  <div *ngIf="logged" fxLayout="row-reverse"  fxFlex="20" fxLayoutGap="30px" fxLayoutAlign="start space-between">
    <a (click)="logout()"> <mat-icon>input</mat-icon> <div>Logout</div></a>
    <span>({{userType | async}})</span>
    <span> Welcome {{ (userName | async ).toUpperCase() }}</span>
  </div>
  <div *ngIf="!logged"  fxLayout="row-reverse"  fxFlex="20" fxLayoutGap="20px" fxLayoutAlign="start space-between">
    <a (click)="login()"><mat-icon>input</mat-icon> <div>Login</div></a>
  </div>
</div>


<div class="wrapper" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start stretch" fxLayoutGap="35px">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px" fxFlex="10" *ngIf="logged">
    <app-sidebar (selected_Sidemenu)="selectedMenu($event)"></app-sidebar>
  </div>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px" fxFlex="80">
    <router-outlet></router-outlet>
  </div>
</div>