#navbar {
  background-color: rgba(50, 50, 50, 0.5);
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 199;
  background-color: #080808!important;
  cursor: pointer;
}

#navbar-flexbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
a {
  color: white;
}
.wrapper {
  margin-top: 100px;
  cursor: pointer;
}