<div class="timeline-container mat-elevation-z1" *ngIf="userType === admins.Annotator">
  <table mat-table [dataSource]="dataSource">

    <!-- Timeline Column -->
    <ng-container matColumnDef="timeline_id">
      <th mat-header-cell *matHeaderCellDef > Timeline Id</th>
      <td mat-cell *matCellDef="let element"> {{element.timeline_id}} </td>
    </ng-container>

    <!-- Timeline Column -->
    <ng-container matColumnDef="timeline_name">
      <th mat-header-cell *matHeaderCellDef> Timeline </th>
      <td mat-cell *matCellDef="let element"> {{element.timeline_name}} </td>
    </ng-container>

    <ng-container matColumnDef="timeline_from">
      <th mat-header-cell *matHeaderCellDef> From </th>
      <td mat-cell *matCellDef="let element"> {{element.timeline_from | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="timeline_to">
      <th mat-header-cell *matHeaderCellDef> To </th>
      <td mat-cell *matCellDef="let element"> {{element.timeline_to | date:'medium'}} </td>
    </ng-container>
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef>Open</th>
      <td mat-cell *matCellDef="let element">  <mat-icon (click)="gotoAssets(element)">folder_open</mat-icon> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div fxLayout="column" fxLayoutGap="32px" fxLayoutAlign="center stretch" fxFlex="50%" class="assign" *ngIf="userType === admins.Evaluator">
 
   <table mat-table [dataSource]="annotatorList">
      <ng-container matColumnDef="evaluator_id">
        <th mat-header-cell *matHeaderCellDef > Evaluator Id</th>
        <td mat-cell *matCellDef="let element"> {{element.evaluator_id}} </td>
      </ng-container>

      <ng-container matColumnDef="annotator_id">
        <th mat-header-cell *matHeaderCellDef> Annotator Id </th>
        <td mat-cell *matCellDef="let element"> {{element.annotator_id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="asset_id">
        <th mat-header-cell *matHeaderCellDef> Asset Id </th>
        <td mat-cell *matCellDef="let element"> {{element.asset_id }} </td>
      </ng-container>
  
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef>Go to Asset</th>
        <td mat-cell *matCellDef="let element">  <mat-icon (click)="gotoVideo(element)">perm_media</mat-icon> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="evalColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: evalColumns;"></tr>
    </table>
 </div>